<html>
    <head>
    <script>
        function userSearch() {
            var search = document.createElement('input');
            var button = document.getElementByEmailId("email");
            search.setAttribute("type", "text");
            search.setAttribute("placeholder", "User Search");
            var res = search.dataset.text;
            search.setAttribute("action", "{{ url_for('search', user = res) }}");

            function searchDB(user) {

            }
        }
    </script>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>blog</title>
      {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('home') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            Blog
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
